.delete{
  background-color: rgb(228, 220, 220);
}
.delete:hover{
  background-color: rgb(180, 178, 178);
}
.edit{
  background-color: rgb(255, 165, 0);
}
.edit:hover{
  background-color: rgb(219, 143, 0);
}
.duplicate{
  background-color: rgb(135, 206, 250);
}
.duplicate:hover{
  background-color: rgb(81, 158, 206);
}
.stats{
  background-color: rgb(45, 226, 151);
}
.stats:hover{
  background-color: rgb(39, 189, 126);
}